Body {
    background-size: cover;
    background-color: #FFFEF2;
    color: #250F12;
    position:relative;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
    justify-content: space-evenly;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight:300;
    font-style:normal; 
    transition: background-color 0.3s, color 0.3s; 
}
body.dark.mode{
    background-color: #250F12;
    color: #FFFEF2;
}
h1{
    font-family:"Pinyon Script", cursive;
    font-weight: 100;
    font-size: 59px;
    font-style:oblique;
}
h2{
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}
#header{
    background-color: transparent;
    color: #250F12;
    text-align: left;
}
#nav ul {
    display:flex;
    text-align: center;
    width: 100%;
    height:110px;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-size:large;
    font-style: normal;
}
#nav li {
    text-decoration:none;
    display: inline-block;
    padding: 10px;
    text-align: center;
    width: 50%;
    height: 100%;
}
nav a {
    text-decoration:none;
    color:#250F12;
    padding: 20px;
    text-align-last: center;
    border-radius: 20%;
    display: block;
    transition: background-color 0.5s, color 0.2s;
}
nav a.home:hover {
    background-color:#1A0089;
    color: #E1D1E4;
}
nav a.meetnyc:hover {
    background-color:#7C9DD2;
    color:#1A0089;
}
nav a.art:hover {
    background-color:#DAE080;
    color: #3d557c;
}
nav a.food:hover {
    background-color:#D14C18;
    color: #e4ea89;
}
nav a.life:hover {
    background-color:#f8e8fa;
    color: #b64316;
}
#homebody {
    background-color: transparent;
    color: black;
    padding: 20px;
    width: 100%;  
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
footer{
    color: black;
    padding: 25px;
    width: auto;
    margin: 40px;
    text-align:left;
    position:static;
}
@font-face{
    font-family: easyskyline;
    src: url("fonts/easyskyline.ttf");  
}
skyline{
    font-family: easyskyline;
}
